## Description
What I did previously, is I downloaded 10 projects the is developed by Chinese-speaking programmers, and 10 projects that is developed by English-speaking programmers, all the chinese projects are stored under the directory:
```
RetrieveDataProject/DownloadProjects/ChineseProjects
```
And all the english projects are stored under the directory:
```
RetrieveDataProject/DownloadProjects/EnglishProjects
```
2024.05.18 Update
Now the format is changed: we have a list of 800 projects from chinese programmer and english programmers (each around 800). So it's no longer practical to download them all and then process. So what we will do is, we will download 10 project at a time, and process the ten, and then clear the directory and download more. 

In this file, I will read from those python files, and for each python file, I will parse them to get all the variable and function names.

Now we will open a database to save our result. We will place the database under the same directory of this notebook.

We won't run this notebook often, but if we run this notebook, we will reset the table.

And English-speaking Programmers

Let's see how does our data looks

In [11]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.db')
table = 'NameTable'

query = f"SELECT * FROM {table}"
df = pd.read_sql_query(query, conn)
df

,id,name,nameType,nameScope,projectSize,authorName,authorProficiency,authorLocation
0,0,_raise_err,function,GlobalScope,72400,programthink,<50,China
1,1,_load_yaml,function,GlobalScope,72400,programthink,<50,China
2,2,Node,class,GlobalScope,72400,programthink,<50,China
3,3,Relation,class,GlobalScope,72400,programthink,<50,China
4,4,Family,class,GlobalScope,72400,programthink,<50,China
...,...,...,...,...,...,...,...,...
8234210,8234210,__long__,variable,FunctionScope,10460,juvers,>100,USA
8234211,8234211,__getslice__,variable,FunctionScope,10460,juvers,>100,USA
8234212,8234212,__setslice__,variable,FunctionScope,10460,juvers,>100,USA
8234213,8234213,__delslice__,variable,FunctionScope,10460,juvers,>100,USA
8234214,8234214,factory,variable,FunctionScope,10460,juvers,>100,USA

In [34]:
conn.close()