## Description
In this file, I will split variable names into terms. My first approach is to identy the naming convention of the variable name, and then split the name based on the naming convention.  
A potential problem is mixed style names, such as "get_numFish" and no style names such as "filenames". This is known as the "The Identifier-Splitting Problem", and we will come back to address this later.

## Read Data
First let's read the data from previous works. My previous work takes projects from github, label them as Chinese Author or English Author, and find all python files from these projects.  
Then I extract all the function and variable names form the python files, and stored their  to a database, under table name "NameTable"

In [1]:
import pandas as pd
import sqlite3

In [2]:
name_table = "NameTable"
# sqlite connect is also relative path relative to the folder running the script.
conn = sqlite3.connect('data.db')
query = f"SELECT * FROM {name_table}"
df = pd.read_sql_query(query, conn)

In [3]:
df.head()

,id,name,nameType,nameScope,author,project_name,terms,namingConvention
0,0,sovits_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[""sovits"", ""path""]",Snake
1,1,gpt_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[""gpt"", ""path""]",Snake
2,2,is_half_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""half"", ""str""]",Snake
3,3,is_half,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""half""]",Snake
4,4,is_share_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""share"", ""str""]",Snake

In [4]:
def split_only_letter_name(name):
    # assume that name contains both upper and lower cases
    terms = []
    if name[0].islower():
        # extract the first term
        lower_term = re.match(r'^([a-z]+)', name)
        terms.append(lower_term.group())
    # find name in "UPPER" form, that means, unless look ahead, it is followed by a lower case: then that upper case letter belongs to another word
    matches = re.findall(r'([A-Z]+)(?![a-z])', name)
    terms = terms +  matches
    # find name in "Upper" form, that is, Upper followed by a lower (until meet another upper)
    matches = re.findall( r'[A-Z][a-z]+', name)
    terms = terms + matches
    
    return terms

hazard: "VCdimension". This is not a good name, but what if some one name it this way? His fault....  
hazard: "Sovits". This is a name

In [5]:
import re
def split_names(name):
    # We can assume input is a valid python name, that means it only contains letters, numbers and underscore. 
    # split by underscore and number, so the only possibility left is letters
    parts = re.split(r'[_\d]+', name)
    terms = []
    for term in parts:
        if term == '':
            continue
        # if it's all lower case or all upper case then we ignore it. 
        if re.fullmatch(r'[a-z]+', term) or re.fullmatch(r'[A-Z]+', term) :
            terms.append(term)
            continue
        split_terms = split_only_letter_name(term)
        terms += split_terms
    return terms

Now we will apply the split function to dataframe

In [6]:
df['terms'] = df['name'].apply(split_names)

In [7]:
df

,id,name,nameType,nameScope,author,project_name,terms,namingConvention
0,0,sovits_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[sovits, path]",Snake
1,1,gpt_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[gpt, path]",Snake
2,2,is_half_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[is, half, str]",Snake
3,3,is_half,variable,GlobalScope,Chinese,GPT-SoVITS,"[is, half]",Snake
4,4,is_share_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[is, share, str]",Snake
...,...,...,...,...,...,...,...,...
839640,839640,next_function,variable,FunctionScope,English,django,"[next, function]",Snake
839641,839641,model_class,variable,FunctionScope,English,django,"[model, class]",Snake
839642,839642,app_config,variable,FunctionScope,English,django,"[app, config]",Snake
839643,839643,app_config,variable,FunctionScope,English,django,"[app, config]",Snake
839644,839644,__all__,variable,GlobalScope,English,django,[all],Snake

Now we will identify the naming convention of each variable

In [8]:
def identify_naming_convention(row):
    # let's not consider the case of numbers: there are exactly the following scenarios
    # (lower, Upper, UPPER) x underscore
    # combination of one: 
    # lower X  no underscore - Unknown, lower X  underscore - Snake
    # Upper X  no underscore - Camel, Upper X  underscore - Mixed
    # UPPER - SCREAMING, UPPER X single letter X no underscore - Unknown
    # combination of two: 
    # lower Upper X no underscore - Camel, lower Upper X underscore - Mix
    # lower UPPER X no underscore - unconventional, lower UPPER X underscore - unconventional
    # Upper UPPER X no underscore - unconventional, Upper UPPER X underscore - unconventional
    # combination of three: unconventional
    name = row['name']
    terms = row['terms']
     # if all the terms are lower case or upper single letter, then we don't know
    if '_' not in name and all(term.islower() for term in terms):
        return 'Unknown'
    if '_' not in name and(len(terms) == 1 and re.match(r'^[A-Z]$', terms[0])):
        return 'Unknown'
    # if the name is UPPER_UPPER, or just UPPER
    if all(term.isupper() for term in terms):
        return "Snake-Screaming"
    # lower X  underscore
    if '_' in name and all(term.islower() for term in terms):
        return "Snake"
    # lower Upper X no underscore - Camel
    if '_' not in name and all(re.match(r'^[a-zA-Z][a-z]*$', term) for term in terms):
        # if name is lowerUpper
        if name[0].islower():
            return "Camel"
        # if the name is UpperUpper
        else:
            return "Pascal"
    # if the name is lower_lowerUpper
    if '_' in name and all(re.match(r'^[a-zA-Z][a-z]*$', term) for term in terms):
        return "Mixed"
    # if not all the terms are upper case, not all the terms are lower case, then according to how I split words, it need to be mix of underscore, lower, Upper and UPPER. 
    # lowerUpper, lower_Upper, all excluded
    # what's left are: lowerUPPER, lower_UPPER, Upper_UPPER, 
    return "non-convention"
df['namingConvention'] = df.apply(identify_naming_convention, axis=1)

In [9]:
df

,id,name,nameType,nameScope,author,project_name,terms,namingConvention
0,0,sovits_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[sovits, path]",Snake
1,1,gpt_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[gpt, path]",Snake
2,2,is_half_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[is, half, str]",Snake
3,3,is_half,variable,GlobalScope,Chinese,GPT-SoVITS,"[is, half]",Snake
4,4,is_share_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[is, share, str]",Snake
...,...,...,...,...,...,...,...,...
839640,839640,next_function,variable,FunctionScope,English,django,"[next, function]",Snake
839641,839641,model_class,variable,FunctionScope,English,django,"[model, class]",Snake
839642,839642,app_config,variable,FunctionScope,English,django,"[app, config]",Snake
839643,839643,app_config,variable,FunctionScope,English,django,"[app, config]",Snake
839644,839644,__all__,variable,GlobalScope,English,django,[all],Snake

Store result to database, replace the same table

In [10]:
import json
df['terms'] = df['terms'].apply(json.dumps)
df

,id,name,nameType,nameScope,author,project_name,terms,namingConvention
0,0,sovits_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[""sovits"", ""path""]",Snake
1,1,gpt_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[""gpt"", ""path""]",Snake
2,2,is_half_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""half"", ""str""]",Snake
3,3,is_half,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""half""]",Snake
4,4,is_share_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""share"", ""str""]",Snake
...,...,...,...,...,...,...,...,...
839640,839640,next_function,variable,FunctionScope,English,django,"[""next"", ""function""]",Snake
839641,839641,model_class,variable,FunctionScope,English,django,"[""model"", ""class""]",Snake
839642,839642,app_config,variable,FunctionScope,English,django,"[""app"", ""config""]",Snake
839643,839643,app_config,variable,FunctionScope,English,django,"[""app"", ""config""]",Snake
839644,839644,__all__,variable,GlobalScope,English,django,"[""all""]",Snake

In [11]:
df.to_sql(name_table, conn, index=False, if_exists='replace')
conn.commit()
conn.close()

Let's check the result

In [12]:
conn = sqlite3.connect('data.db')
query = f"SELECT * FROM {name_table}"
df = pd.read_sql_query(query, conn)

In [13]:
df

,id,name,nameType,nameScope,author,project_name,terms,namingConvention
0,0,sovits_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[""sovits"", ""path""]",Snake
1,1,gpt_path,variable,GlobalScope,Chinese,GPT-SoVITS,"[""gpt"", ""path""]",Snake
2,2,is_half_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""half"", ""str""]",Snake
3,3,is_half,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""half""]",Snake
4,4,is_share_str,variable,GlobalScope,Chinese,GPT-SoVITS,"[""is"", ""share"", ""str""]",Snake
...,...,...,...,...,...,...,...,...
839640,839640,next_function,variable,FunctionScope,English,django,"[""next"", ""function""]",Snake
839641,839641,model_class,variable,FunctionScope,English,django,"[""model"", ""class""]",Snake
839642,839642,app_config,variable,FunctionScope,English,django,"[""app"", ""config""]",Snake
839643,839643,app_config,variable,FunctionScope,English,django,"[""app"", ""config""]",Snake
839644,839644,__all__,variable,GlobalScope,English,django,"[""all""]",Snake